<!doctype html>

<html lang="en">
	<head>
	    <link rel="icon" href="data:,">
		<meta charset="utf-8">
		<title>New Movie</title>
		<meta name="description" content="FEWD Movie Catalog">
		<meta name="author" content="Jamie Martinez">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

	<body>
		<div class='header'>
			<h1>New Movie</h1>
		</div>
		<div class='topnav'>
			<a href = '{{url_for('mainMenu') }}'>Home</a>
			<div class='topnav-logout'>
				<button class="signoutButton" type="button" onclick="signoutButton()">Logout</button>
			</div>
		</div>
		<div class='row'>
			<div class='column full'>
				<form action="{{ url_for('newMovieItem', genre_id=genre_id )}}" method = 'POST'>
					<p>Title:</p>
					<input type = 'text' size='30' name='title'>
					<p>Description:</p>
					<input type = 'text' size='30' name='description'>
					<input type = 'submit' value='Create'>
					<button><a class='button' href = '{{ url_for('movieMenu', genre_id = genre_id) }}'>Cancel</a></button>
			</form>
		<script>
			// Sign out button script
			function signoutButton() {
				window.location.href = '{{ url_for('gdisconnect') }}'
			}
		</script>
	</body>
</html>